.Nav-container{
  display: flex;
  margin: 2rem 1rem;
  align-items: center;
  justify-content: center;
}


.input {
    background-color: #23224a;
    border-radius: 8px;
    padding: 0.8rem;
    margin: 0 1rem;
    color: rgba(255, 255, 255, 0.357);
  }


  
.weatherSearch {
    margin: 0 15px;
    border: none;
    color: #7c7c94;
  }
  
  .weatherIcon {
    color: #cfcfcf;
  }

  .Div-Search{
    margin: 5px;
  }

  .input:hover{
    background-color: #69696fb8;
    transform: scale(1.2);
  }